.intro {
  color: white;
  font-size: 50px;
}

span {
  color: #b562d6;
}

.clg {
  font-size: 69px;
}
.lang {
  font-style: italic;
  color: aqua;
}
.myavtar {
  justify-content: center !important;
  padding-top: 90px !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}
