.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-header {
  padding-top: 100px;
}
.home-section {
  position: relative;
  z-index: -1;
  /* background-color: red; */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}
.home-content {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}
/* .heading {
  font-size: 2.4em ;
  padding-left: 50px ;
} */

.heading-name {
  font-size: 6.5em;
  padding-left: 45px;
}

.main-name {
  color: #cd5ff8;
}
.Typewriter__wrapper {
  font-size: 4.2em;
  color: #be6adf;
  font-weight: 600;
}
.Typewriter__cursor {
  font-size: 3.4em;
  color: #b562d6;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}
.myAvtar {
  justify-content: center;
  padding-top: 9em;
}
