.contact-section {
  position: relative;
  padding-top: 180px;
  padding-bottom: 300px;
  /* background-image: var(--section-background-color) !important; */
  color: white;
  text-align: center;
  width: auto;
}

.form {
  background-color: black;
  width: 900px;
  height: 600px;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 0 auto;
  box-shadow: 0px 16px 40px blueviolet;
}

input {
  background-color: black;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: 20%;
  font-size: 34px;
  color: whitesmoke;
  text-transform: capitalize;
  outline: none;
}

.submit-btn {
  margin-top: 30px;
  background-color: blueviolet;
  color: white;
  width: 190px;
  height: 100px;
  border-radius: 20%;
  border: 2px solid white;
  font-size: 27px;
}

.submit-btn:hover {
  background-color: rgb(111, 47, 111);
}

@media (max-width: 767px) {
  .contact-section {
    padding-bottom: 20em !important;
  }
  .form {
    width: 350px;
  }

  .submit-btn {
    width: 100px;
    height: 50px;
  }
  .firstName,
  .lastName,
  .message,
  .reply {
    height: 30px;
    width: 100%;
    font-size: 20px;
  }
  /* .message {
    width: 200px;
  } */
}
