.footer {
  background-color: rgb(10, 4, 22);

  bottom: 0;

  padding-top: 70px;
  padding-bottom: 8px;
}
.footer-copywright {
  text-align: center;
}
.footer-body {
  text-align: center;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center;
  }

  .footer-body {
    text-align: center;
  }
}
.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.blockquote-footer {
  color: #a588c0 !important;
}
.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}
